@font-face {
  font-family: Poppins-regular;
  src: url("../../assets/fonts/Poppins-Regular.ttf") format('truetype');
}

@font-face {
  font-family: Poppins-bold;
  src: url("../../assets/fonts/Poppins-Bold.ttf") format('truetype');
}
