/* COLOR */
$main-color: #7676ff ;
$secondary-color: #D4D5DA ;
$background-color: #f8f8f8;

$orange: #e1a237 ;
$light-blue: #7676ff;
$black:  #1d1d31 ;
$very-light-grey: #ebebeb ;
$grey: #e6e6ea ;
$invalid: #ff0000;

$success-background-color: #d1ecf1 ;
$success-color: #1f5f2d ;
$error-background-color: #f8d7da ;
$error-color: #721c24 ;
$info-background-color: #cfe2ff ;
$info-color: #084298 ;

$modal-background-color: rgba(gray, 0.6);

/* FONT */
$main-font: Poppins-regular,  sans-serif;
$main-bold-font: Poppins-bold,  sans-serif;

/* FONT SIZE */
$input-font-size: 14px ;

/* MEDIA QUERIES */
$responsive-table-mobile-size: 650px;

/* OTHER */
$radius: 5px ;
$search-box-radius: 20px ;
$header-height: 82px ;
$full-height: calc(100vh - $header-height) ;
