/* COLOR */
//$main-color: #282C47 ;
$main-color: #903DF4 ;
$secondary-color: #D4D5DA ;
$background-color: #f8f8f8;

$orange: #e1a237 ;
$light-blue: #7676ff;
$black:  #1d1d31 ;

/* FONT */
$main-font: Poppins-regular,  sans-serif;
$main-bold-font: Poppins-bold,  sans-serif;

/* OTHER */
$radius: 5px ;
