/* COLOR */
$main-color: #282C47 ;
$secondary-color: #D4D5DA ;
$background-color: #f8f8f8;

$orange: #e1a237 ;
$purple: #e1a237;

/* FONT */
$main-font: Poppins-regular,  sans-serif;
$main-bold-font: Poppins-bold,  sans-serif;


