@import "../helpers/variable";

%btn {
  font-family: $main-font;
  color: white ;
  padding: 10px 16px ;
  cursor: pointer ;
  font-size: 14px ;
  height: 40px;
  border-radius: $radius;

  transition: all 200ms;
  &:hover {
    opacity: 0.5 ;
  }
}

.btn-primary {
  @extend %btn ;
  background: $main-color;
}

.btn-secondary{
  @extend  %btn ;
  background: $secondary-color;
  color: $black;
}
