@import "../helpers/variable";
@import "button";

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .label {
    font-family: $main-bold-font;
    font-size: 13px;
  }

  .input-text {
    border-radius: $radius;
    padding: 12px;
    border: 1px solid #ccc;
    font-family: $main-font;
    font-size: $input-font-size;

    &:focus {
      outline: none;
      border: 1px solid $light-blue;
    }
  }

  .invalid {
    border: 1px solid $invalid !important;
  }

  .feedback {
    font-family: $main-font;
    font-size: 13px;
    min-height: 20px;
  }
}

.file-input {
  border: 1px solid #ccc;
  padding: 7px;
  border-radius: $radius;
  font-family: $main-font;

  &::file-selector-button {
    margin-right: 20px;
    border: none;
    background: $main-color;
    padding: 10px 20px;
    border-radius: $radius;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }

  &::file-selector-button:hover {
    opacity: 0.5;
  }
}
