@import "../helpers/variable" ;
/* HTML
  <span class="loader"></span>
 */

.loader {
  width: 58px;
  height: 58px;
  border: 6px solid $main-color;
  border-bottom-color: #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  //transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
