@import "../helpers/variable" ;

.responsive-table {
  border-collapse: collapse;
  min-width: calc($responsive-table-mobile-size - 25%);
  width: 100% ;

  thead {
    font-family: $main-bold-font;
    font-size: 12px;
    text-align: left;
    height: 50px;

    th {
      border-bottom: 2px solid $grey;
      padding: 5px;
      margin-bottom: 5px ;
    }
  }

  tbody {
    font-family: $main-font;
    font-size: 11px;
    text-align: left;

    & td {
      padding: 5px;
    }
  }

  @media (max-width: $responsive-table-mobile-size) {
    display: flex;
    justify-content: center;
    min-width: 0;

    thead {
      display: none;
    }

    tbody, tr, td {
      display: flex;
      flex-direction: column;
      font-size: 15px;
    }

    tr {
      margin-bottom: 10px;
      border: 1px solid $grey ;
      border-radius: $radius;
      padding: 10px ;
    }
  }
}
