<app-modal-confirmation
  [class.hidden]="!deleteModalOptions.showDeleteUserConfirmationModal"
  [title]="deleteModalOptions.titleText"
  [bodyText]="deleteModalOptions.bodyText"
  (isAccepted)="onModalDeleteAction($event)"
></app-modal-confirmation>

<section class="user-list-section">
  <header class="filter-section">
    <form [formGroup]="filterForm" (ngSubmit)="emitFilter()" class="filter-form">
      <input type="text" placeholder="Recherchez..." formControlName="search" class="input-text">

      <select formControlName="role" class="input-select">
        <option value="" selected>Tous les roles</option>
        <option *ngFor="let role of roleList" [value]="role.name">{{role.name}}</option>
      </select>

      <button type="submit" class="btn-primary">Filtrer</button>
    </form>
  </header>

  <main>
    <table class="responsive-table">
      <thead>
      <tr>
        <th>Utilisateur</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
      </thead>

      <tbody *ngIf="userList.length !== 0; else noUsers">
      <tr *ngFor="let user of userList">
        <td class="user">
          <div class="user_pp">
            <img *ngIf="user.profilePicturePath == null"
                 src="../../../../../assets/img/user_pic-50x50.png" alt="profil pic">
            <img *ngIf="user.profilePicturePath != null"
                 [src]="profilePictureBaseUri + user.profilePicturePath" alt="profil pic">
          </div>
          <div class="user_body">
            <div>
              <b>{{user.lastName + " " + user.firstName}}</b>
            </div>
            <div>
              {{user.accountCreation | date:'Le dd/MM/yyyy à hh:mm'}}
            </div>
          </div>
        </td>
        <td>{{user.email}}</td>
        <td>{{user.role.name}}</td>
        <td>
          <div class="btn-container">
            <button class="btn-update">
              <svg class="icon" viewBox="0 0 24 24">
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0h24v24H0z"/>
                  <path fill="currentColor"
                        d="M16.724 3.03a2 2 0 0 0-2.828 0L3.582 13.344a2 2 0 0 0-.586 1.414v5.233c0 .557.453 1.01 1.01 1.01H9.24a2 2 0 0 0 1.414-.586L20.967 10.1a2 2 0 0 0 0-2.828L16.724 3.03ZM15.31 4.444l4.243 4.243l-1.726 1.726l-4.243-4.243l1.726-1.726Zm-3.14 3.14l-7.174 7.174V19H9.24l7.174-7.174l-4.243-4.243Z"/>
                </g>
              </svg>
            </button>
            <button class="btn-delete" (click)="deleteButtonClick(user.id)">
              <svg class="icon" viewBox="0 0 24 24">
                <g fill="none" fill-rule="evenodd">
                  <path
                    d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"/>
                  <path fill="currentColor"
                        d="M16 14a5 5 0 0 1 5 5v2a1 1 0 1 1-2 0v-2a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v2a1 1 0 1 1-2 0v-2a5 5 0 0 1 5-5h8ZM12 2a5 5 0 1 1 0 10a5 5 0 0 1 0-10Zm10 8a1 1 0 0 1 .117 1.993L22 12h-4a1 1 0 0 1-.117-1.993L18 10h4ZM12 4a3 3 0 1 0 0 6a3 3 0 0 0 0-6Z"/>
                </g>
              </svg>
            </button>
          </div>
        </td>
      </tr>
      </tbody>

      <ng-template #noUsers>
        <tbody>
        <tr>
          <td>Aucun utilisateur trouvé !</td>
        </tr>
        </tbody>
      </ng-template>
    </table>
  </main>
</section>
