<app-modal-confirmation
  [modalParams]="deleteModalOptions"
  (isAccepted)="onModalDeleteAction($event)"
></app-modal-confirmation>

<section class="user-list-section">
  <header class="filter-section">
    <form [formGroup]="filterForm" (ngSubmit)="emitFilter()" class="filter-form">
      <input type="text" placeholder="Rechercher..." formControlName="search" class="input-text">

      <select formControlName="role" class="input-select">
        <option value="" selected>Tous les roles</option>
        <option *ngFor="let role of roleList" [value]="role.name">{{role.name}}</option>
      </select>

      <button type="submit" class="btn-primary">Filtrer</button>
    </form>
  </header>

  <main>
    <table class="responsive-table">
      <thead>
      <tr>
        <th>Utilisateur</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
      </thead>

      <tbody *ngIf="userList.length !== 0; else noUsers">
      <tr *ngFor="let user of userList">
        <td class="user">
          <div class="user_pp">
            <img *ngIf="user.profilePicturePath == null"
                 [src]="defaultProfilePicture" alt="profil pic">
            <img *ngIf="user.profilePicturePath != null"
                 [src]="profilePictureBaseUri + user.profilePicturePath" alt="profil pic">
          </div>
          <div class="user_body">
            <div>
              <b>{{user.lastName + " " + user.firstName}}</b>
            </div>
            <div>
              Le {{user.accountCreation | date:'dd/MM/yyyy à hh:mm'}}
            </div>
          </div>
        </td>
        <td>{{user.email}}</td>
        <td>{{user.role.name}}</td>
        <td>
          <div class="btn-container">
            <button *ngIf="isSuperAdmin()" [class.hidden]="user.role.name !== 'utilisateur'" class="btn-become-admin"
                    (click)="becomeAdmin(user.id)">
              <svg class="icon" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M7 14q-.825 0-1.412-.588Q5 12.825 5 12t.588-1.413Q6.175 10 7 10t1.412.587Q9 11.175 9 12q0 .825-.588 1.412Q7.825 14 7 14Zm0 4q-2.5 0-4.25-1.75T1 12q0-2.5 1.75-4.25T7 6q1.675 0 3.038.825Q11.4 7.65 12.2 9H21l3 3l-4.5 4.5l-2-1.5l-2 1.5l-2.125-1.5H12.2q-.8 1.35-2.162 2.175Q8.675 18 7 18Zm0-2q1.4 0 2.463-.85q1.062-.85 1.412-2.15H14l1.45 1.025L17.5 12.5l1.775 1.375L21.15 12l-1-1h-9.275q-.35-1.3-1.412-2.15Q8.4 8 7 8Q5.35 8 4.175 9.175Q3 10.35 3 12q0 1.65 1.175 2.825Q5.35 16 7 16Z"/>
              </svg>
            </button>
            <button *ngIf="isSuperAdmin()" [class.hidden]="user.role.name !== 'administrateur'" class="btn-delete"
                    (click)="downgradeAdmin(user.id)">
              <svg class="icon" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M19.075 21.9L12.2 15.025q-.8 1.35-2.175 2.163Q8.65 18 7 18q-2.5 0-4.25-1.75T1 12q0-1.65.812-3.025Q2.625 7.6 3.975 6.8L2.1 4.925q-.275-.275-.275-.688q0-.412.275-.712q.3-.3.712-.3q.413 0 .713.3L20.475 20.5q.275.275.288.688q.012.412-.288.712q-.275.275-.7.275q-.425 0-.7-.275Zm4.5-9.9q0 .2-.062.375q-.063.175-.213.325l-3.175 3.175q-.15.15-.337.225q-.188.075-.313.075q-.2 0-.35-.037q-.15-.038-.3-.138l-2.575-2.575l1.25-.925l1.8 1.35L21.175 12l-1-1h-6.35l-2-2h8.75q.2 0 .388.075q.187.075.337.225l2 2q.15.15.213.325q.062.175.062.375ZM7 16q1.275 0 2.262-.688q.988-.687 1.438-1.787l-1.4-1.4l-1.212-1.213L6.875 9.7l-1.4-1.4q-1.1.45-1.787 1.438Q3 10.725 3 12q0 1.65 1.175 2.825Q5.35 16 7 16Zm0-2q-.825 0-1.412-.588Q5 12.825 5 12t.588-1.413Q6.175 10 7 10t1.412.587Q9 11.175 9 12q0 .825-.588 1.412Q7.825 14 7 14Z"/>
              </svg>
            </button>
            <button class="btn-delete" (click)="deleteButtonClick(user.id)">
              <svg class="icon" viewBox="0 0 24 24">
                <g fill="none" fill-rule="evenodd">
                  <path
                    d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"/>
                  <path fill="currentColor"
                        d="M16 14a5 5 0 0 1 5 5v2a1 1 0 1 1-2 0v-2a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v2a1 1 0 1 1-2 0v-2a5 5 0 0 1 5-5h8ZM12 2a5 5 0 1 1 0 10a5 5 0 0 1 0-10Zm10 8a1 1 0 0 1 .117 1.993L22 12h-4a1 1 0 0 1-.117-1.993L18 10h4ZM12 4a3 3 0 1 0 0 6a3 3 0 0 0 0-6Z"/>
                </g>
              </svg>
            </button>
          </div>
        </td>
      </tr>
      </tbody>

      <ng-template #noUsers>
        <tbody>
        <tr>
          <td>Aucun utilisateur trouvé !</td>
        </tr>
        </tbody>
      </ng-template>
    </table>
  </main>

  <div class="pagination_container" [hidden]="maxPages == 0">
    <app-pagination
      [maxPages]="maxPages"
      [rulerLength]="rulerLength"
      [(index)]="index"
      (indexChange)="changePage($event)">
    </app-pagination>
  </div>
</section>
