@import '../../../../../styles/helpers/variable' ;
@import '../../../../../styles/components/responsive-table' ;

.user-list-section {
  margin: auto ;
  width: 75% ;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;

  .user_pp > img {
    border-radius: 50%;
    height: 40px;
    object-position: 50% 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  @media (max-width: $responsive-table-mobile-size) {
    display: flex;
    flex-direction: row !important;
    align-items: start;

    .user_pp > img{
      height: 60px ;
    }
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;

  @media (max-width: $responsive-table-mobile-size) {
    align-items: flex-end !important;
    justify-content: flex-end !important;
  }

  & button {
    padding: 3px;
    height: 100%;
    border-radius: $radius;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .icon {
    width: 20px;
  }

  .btn-delete {
    background: $error-background-color;
    color: $error-color ;
  }

  .btn-update {
    background-color: $info-background-color;
    color: $info-color ;
  }

  @media (max-width: $responsive-table-mobile-size) {
    .icon {
      width: 27px;
    }
  }
}

