@import "../../../styles/helpers/variable.scss" ;
@import "../../../styles/components/dropdown-profil.scss" ;

//Variables
$search-box-radius: 20px ;

.header-container{
  position: fixed;
  top:0 ;
  right: 0;
  left: 0;
  background: white;
  z-index: 1000;
}
header{

  border-bottom: 2px solid $very-light-grey ;
  padding: 15px 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title{
  cursor: pointer;
  margin-right: 100px;
}
.search-box{
  border: 2px solid $very-light-grey;
  border-radius: $search-box-radius;
  width: 500px;
  min-width: 275px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input{
    height: 100%;
    font-family: $main-font;
    flex:2 ;
    padding: 0 10px;
    border-radius: $search-box-radius;
    font-size: 16px ;
    &:focus{
      outline: none ;

    }
  }
  button{
    background: none ;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    text-align: center;
    background: $main-color ;
    border-radius: $search-box-radius;
    cursor: pointer;
    svg{
      transition: all 200ms;

    }

    &:hover svg{
      height: 23px;
      width: 23px;
    }
  }
}


@media only screen and (max-width: 800px){
  header{
    flex-direction: column;
    position: relative
  }

  .title{
    position: absolute;
    top: 10px ;
    left: 5px ;
  }

  .search-box{
    width: 100% ;
    margin-top: 50px ;
  }
  .dropdown-container{
    position: absolute;
    top: 10px;
    right: 5px;
  }
}
