@import "/src/styles/helpers/variable" ;
@import "/src/styles/components/dropdown-profil" ;

$search-box-button-size: 35px ;

.header-container{
  position: fixed;
  top:0 ;
  right: 0;
  left: 0;
  background: white;
  z-index: 1000;
}
header{
  border-bottom: 2px solid $very-light-grey ;
  padding: 15px 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title{
  cursor: pointer;
  margin-right: 100px;
  font-family: $main-bold-font;
  color: $main-color ;
}

.search-box{
  border: 2px solid $very-light-grey;
  border-radius: $search-box-radius;
  width: 500px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input{
    height: 100%;
    width: calc(100% - $search-box-button-size) ;
    font-family: $main-font;
    padding: 0 15px;
    border-radius: $search-box-radius;
    font-size: 16px ;
    &:focus{
      outline: none ;

    }
  }
  button{
    background: none ;
    width: $search-box-button-size;
    height: $search-box-button-size;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    text-align: center;
    background: $main-color ;
    border-radius: $search-box-radius;
    cursor: pointer;

    svg{
      transition: all 200ms;
    }

    &:hover svg{
      height: 23px;
      width: 23px;
    }
  }
}

.dropdown-container{
  margin-left: 100px;
}

@media only screen and (max-width: 800px){

  header{
    padding: 15px 5px;
  }
  .title{
    display: none;
  }
  .dropdown-container{
    margin-left: 5px ;
  }
  .search-box{
    width: 100% ;
  }
}
