<div class="header-container">
  <header>
    <div>
      <h1 class="title" [routerLink]="['/']">
        HELHANB
      </h1>
    </div>

    <div class="search-box">
      <input type="text" placeholder="Rechercher" [(ngModel)]="this.adName">
      <button [routerLink]="['annonces', {adName: this.adName}]">
        <svg width="20" height="20" viewBox="0 0 24 24">
          <path fill="currentColor"
                d="m18.031 16.617l4.283 4.282l-1.415 1.415l-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9s9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7c-3.868 0-7 3.132-7 7c0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z"/>
        </svg>
      </button>
    </div>

    <div class="dropdown-container">
      <div class="dropdown" [class.active]="dropDownOpen" (click)="dropDownOpen = !dropDownOpen">
        <img *ngIf="!authService.isConnected() || authService.user?.profilePicturePath == null"
             [src]="defaultProfilePicture" alt="Photo de profil">
        <img *ngIf="authService.isConnected() && authService.user?.profilePicturePath != null"
             [src]="profilePictureBaseUri + authService.user?.profilePicturePath" alt="Photo de profil">

        <div *ngIf="!authService.isConnected()" class="options">
          <div [routerLink]="[option.path]" *ngFor="let option of notConnectedDropDownOption">{{option.name}}</div>
        </div>

        <div *ngIf="authService.isUser()" class="options">
          <div [routerLink]="[option.path]" *ngFor="let option of connectedDropDownOption">{{option.name}}</div>
        </div>

        <div *ngIf="authService.isHost()" class="options">
          <div [routerLink]="[option.path]" *ngFor="let option of hostDropDownOption">{{option.name}}</div>
        </div>

        <div *ngIf="authService.isAdmin()" class="options">
          <div [routerLink]="[option.path]" *ngFor="let option of adminDropDownOption">{{option.name}}</div>
        </div>
      </div>
    </div>
  </header>
</div>
