@import "../../../styles/components/button";
@import "../../../styles/components/form";

h1{
  font-family: $main-bold-font;
}
.btn{
  width: 150px ;
}
.section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
