<div class="section">
  <h1>Buttons</h1>
  <input type="button" class="btn btn-primary" value="primary button">
  <input type="button" class="btn btn-secondary" value="secondary button">
</div>

<div>
  <h1>Forms</h1>
  <div class="form-group">
    <label for="emailInput" class="label">Email</label>
    <input id="emailInput" type="text" class="input-text" placeholder="example@example.com">
  </div>
  <div class="form-group">
    <label for="passwInput" class="label">Password</label>
    <input id="passwInput" type="password" class="input-text" placeholder="">
  </div>
  <input type="submit" class="btn-primary" value="Submit">
</div>
