<div *ngIf="images && images.length > 0" class="carousel-container">
  <img *ngFor="let image of images; let i=index"
       [src]="image"
       [ngClass]="{'image-active':selectedIndex===i}"
       [routerLink]="['/rent/', 1]"
       class="fade"
  >

  <div *ngIf="indicators" class="carousel-dot-container">
  <span *ngFor="let dot of images; let i=index"
        class="dot"
        [ngClass]="{'active': selectedIndex === i}"
        (click)="selectImage(i)">

  </span>
  </div>

  <button *ngIf="controls" class="btn-carousel btn-prev" (click)="onPrevClick()">
    <!--<i class="icon-carousel icon-size"> < </i>
    <svg viewBox="0 0 24 24"><g fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12zm6.293-.707l3-3a1 1 0 1 1 1.414 1.414L11.414 11H15a1 1 0 1 1 0 2h-3.586l1.293 1.293a1 1 0 0 1-1.414 1.414l-3-3a1 1 0 0 1 0-1.414z" fill="currentColor"/></g></svg>-->
    <svg width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="m11.828 12l2.829 2.828l-1.414 1.415L9 12l4.243-4.243l1.414 1.415L11.828 12z"/></svg>
  </button>

  <button *ngIf="controls" class="btn-carousel btn-next" (click)="onNextClick()">
    <!--<i class="icon-carousel icon-size"> > </i>
    <svg viewBox="0 0 24 24"><g fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12zm13.707-.707l-3-3a1 1 0 1 0-1.414 1.414L12.586 11H9a1 1 0 1 0 0 2h3.586l-1.293 1.293a1 1 0 0 0 1.414 1.414l3-3a1 1 0 0 0 0-1.414z" fill="currentColor"/></g></svg>-->
    <svg width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M12.172 12L9.343 9.172l1.414-1.415L15 12l-4.243 4.243l-1.414-1.415z"/></svg>
  </button>

</div>
