<div *ngIf="images && images.length > 0" class="carousel-container">
  <img *ngFor="let image of images; let i=index"
       [src]="pictureBaseUri + image"
       [ngClass]="{'image-active':selectedIndex===i}"
       [routerLink]="adLink"
       class="fade"
  >

  <div *ngIf="indicators" class="carousel-dot-container">
  <span *ngFor="let dot of images; let i=index"
        class="dot"
        [ngClass]="{'active': selectedIndex === i}"
        (click)="selectImage(i)">

  </span>
  </div>

  <button *ngIf="controls" class="btn-carousel btn-prev" (click)="onPrevClick()">
    <svg width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="m11.828 12l2.829 2.828l-1.414 1.415L9 12l4.243-4.243l1.414 1.415L11.828 12z"/></svg>
  </button>

  <button *ngIf="controls" class="btn-carousel btn-next" (click)="onNextClick()">
    <svg width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M12.172 12L9.343 9.172l1.414-1.415L15 12l-4.243 4.243l-1.414-1.415z"/></svg>
  </button>

</div>
