<div class="toasts-container">
  <div *ngFor="let notification of toastNotificationService.notifications"
       class="toast"
       [class]="notification.type"
       [class.slide]="notification.isRemove">
    <div class="body">
      {{ notification.content }}
    </div>
    <button class="toast-btn-close" (click)="removeNotification(notification.id)">
      <svg width="22" viewBox="0 0 24 24">
        <path fill="currentColor"
              d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6Z"/>
      </svg>
    </button>
  </div>
</div>
