<main class="ad_item_page" *ngIf="ad">
  <form [formGroup]="adUpdateForm" (ngSubmit)="submitForm()" [formGroup]="adUpdateForm">

    <h2>Nom</h2>
    <input type="text" class="input-adjust" formControlName="name" [(ngModel)]="ad.name">

    <h2>Chambres et nombre de personnes</h2>
    <p>
      <input type="number" class="input-adjust" formControlName="numberOfPersons" [(ngModel)]="ad.numberOfPersons">
      personne(s) ⸱
      <input type="number" class="input-adjust" formControlName="numberOfBedrooms" [(ngModel)]="ad.numberOfBedrooms">
      chambre(s)
    </p>

    <h2>Adresse</h2>
    <p>
      {{ad.street}}, {{ad.postalCode}} {{ad.city}}, {{ad.country}}
    </p>

    <h2>Images</h2>

    <div>
      <label for="picturesInput" class="btn-secondary">Ajouter</label>
      <input id="picturesInput" class="file-input" type="file" accept="image/*" (change)="onPictureAdded($event);"
             multiple hidden>
    </div>
    <div class="preview_container">
      <div *ngFor="let file of ad.pictures" class="preview">
        <img [src]="pictureBaseUrl + file.path" alt="ta maison" (click)="deletePicture(file.path);"/>
      </div>
      <div *ngFor="let file of this.ad.picturesToAdd" class="preview">
        <img [src]="adHandleService.imgSrc(file)" alt="ta maison" (click)="removePicture(file)"/>
      </div>
    </div>

    <div>
      <h2>Disponible dans le logement</h2>
      <input [(ngModel)]="tmp_feature" type="text" class="input-text" name="feature"
             [placeholder]="ad.features.length == 0 ? 'Piscine, wifi, TV HD...' : '' "
             [ngModelOptions]="{standalone: true}">
      <button type="button" class="btn-secondary"
              (click)="adHandleService.addFeature(tmp_feature, ad.features); tmp_feature = ''"
              [disabled]="tmp_feature == ''">
        Ajouter
      </button>
    </div>
    <div class="features_list">
              <span class="feature" *ngFor="let feature of ad.features"
                    (click)="ad.features = adHandleService.removeFeature(feature, ad.features)">
                &#x2022; {{ feature }}
              </span>
    </div>


    <h2>Description</h2>
    <textarea #taDescription class="input-text" formControlName="description" [(ngModel)]="ad.description"></textarea>
    <span class="description_cpt">{{taDescription.value.length > 0 ? taDescription.value.length + "/500" : ""}}</span>

    <h2>Prix pour une nuit</h2>
    <input type="number" class="input-adjust" formControlName="pricePerNight" [(ngModel)]="ad.pricePerNight">

    <h2>Règles</h2>
    <p>Arrivée entre <input type="time" class="input-adjust" formControlName="arrivalTimeRangeStart"
                            [(ngModel)]="ad.arrivalTimeRangeStart">
      et <input type="time" class="input-adjust" formControlName="arrivalTimeRangeEnd"
                [(ngModel)]="ad.arrivalTimeRangeEnd"></p>
    <p>Départ avant <input type="time" class="input-adjust" formControlName="leaveTime" [(ngModel)]="ad.leaveTime"></p>

    <div class="submit_btn_container">
      <button class="btn-primary" [disabled]="disabledUpdateBtn">Modifier</button>
      <button
        type="button"
        class="btn-secondary"
        (click)="changeStatus(4)"
        *ngIf="ad.status.statusName === 'acceptée'"
      >
        Désactiver
      </button>
      <button
        type="button"
        class="btn-secondary"
        (click)="changeStatus(3)"
        *ngIf="ad.status.statusName === 'désactivée'"
      >
        Activer
      </button>
    </div>
  </form>

  <h1>Réservations</h1>
  <h2>En attentes</h2>
  <app-my-ad-reservations-to-confirm-list
    [inputRes]="sortReservationByStatusName('en attente')"
  ></app-my-ad-reservations-to-confirm-list>

  <h2>Acceptées</h2>
  <app-my-ad-confirmed-reservation-list
    [reservations]="sortReservationByStatusName('acceptée')"
  ></app-my-ad-confirmed-reservation-list>
</main>
