<mbsc-datepicker
  [(ngModel)]="calendar"
  [dayNames]="['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']"
  [dayNamesShort]="['D', 'L', 'M', 'M', 'J', 'V', 'S']"
  [firstDay]="1"
  [monthNames]="[ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ]"
  [monthNamesShort]="[ 'Jan', 'Fév', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sep', 'Oct', 'Nov', 'Déc' ]"
  (onPageLoaded)="removeTrialDivs()"
  (onChange)="dateChanged()"
  dateFormat="DD MMM YYYY"
  [min]="min"
  [max]="max"
  select="range"
  display="inline"
  id="datePicker">
</mbsc-datepicker>
