.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: loaderKeyframe 1s infinite;
}

@keyframes loaderKeyframe {
  to {
    transform: rotate(.5turn)
  }
}
