@import '../../../styles/components/form' ;
@import '../../../styles/helpers/variable' ;


.container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.form-group{
  width: 500px;
}

.password-input{
  display: flex;
  position: relative;

  border-radius: $radius;
  height: 50px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-family: $main-font;
  font-size: 14px;

  input{
    margin: 3px ;
    flex: 5 ;
    outline: none ;

  }

  button{
    flex: 1 ;
    border-radius: 0 $radius $radius 0;
    background: none;
    cursor: pointer;
    svg{
      width: 30px;
    }
  }

}

.focused{
  border: 1px solid $light-blue;
}


