@import '../../../styles/components/form' ;
@import '../../../styles/components/button' ;
@import '../../../styles/helpers/variable' ;

.container{
  width: 100vw;
  padding: 40px ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px ;
}

.form-group{
  width: 100%;
  max-width: 500px;
}

.password-input{
  display: flex;
  position: relative;
  border-radius: $radius;
  border: 1px solid #ccc;
  font-family: $main-font;
  font-size: 14px;

  input{
    padding: 12px;
    border-radius: $radius;
    flex: 5 ;
    outline: none ;
    font-size: $input-font-size ;
    font-family: $main-font;
  }

  button{
    flex: 1 ;
    border-radius: 0 $radius $radius 0;
    background: none;
    cursor: pointer;
    svg{
      width: 30px;
    }
  }

}

.focused{
  border: 1px solid $light-blue;
}

.btn-primary{
  margin-top: 10px;
}

.redirection{
  font-family: $main-font;
  font-size: 15px;
  a{
    color: $main-color ;

    &:hover{
      cursor: pointer ;
      text-decoration: underline ;
    }
  }
}
