@import '../../../styles/components/form' ;
@import '../../../styles/components/button' ;
@import '../../../styles/helpers/variable' ;

.container{
  width: 100vw;
  padding: 40px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group{
  width: 100%;
  max-width: 500px;
}

.btn-primary{
  margin-top: 10px;
}
