<section>
  <div id="container">
    <div id="div_select">
      <label>Trier par :</label>
      <select name="sort" (change)="sortAll($event.target)">
        <option value="1">Début de la réservation</option>
        <option value="0">Nom de famille</option>
        <option value="2">Durée de séjour</option>
        <option value="3">Nombre de conflits</option>
      </select>
      <select name="ascending" (change)="setSortOrder($event.target)">
        <option value="0">Croissant</option>
        <option value="1">Décroissant</option>
      </select>
    </div>
    <div id="container_reservations">
      <div id="all_reservations" class="all">
        <app-my-ad-reservation-card
          *ngFor="let reservation of cancelReservationChange"
          [reservation]="reservation"
          [nbConflicts]="nbConflicts(reservation)"
          (onConfirmationBtnClickEvent)="displayConfirmation($event)"
          (onRefusalBtnClickEvent)="displayRefusal($event)"
          (onContactUserBtnClickEvent)="contactUser($event)"
          (mouseover)="displayConflicts(reservation)"
          (mouseleave)="displayConflicts()"
          (click)="reservationClicked(reservation)"
          [currentClickedReservation]="reservation === clickedReservation">
        </app-my-ad-reservation-card>
      </div>

      <div id="all_conflicts" class="all">
        <app-my-ad-reservation-card
          *ngFor="let conflict of conflictsListToDisplay"
          [reservation]="conflict"
          [nbConflicts]="nbConflicts(conflict)"
          (onConfirmationBtnClickEvent)="displayConfirmation($event)"
          (onRefusalBtnClickEvent)="displayRefusal($event)"
          (onContactUserBtnClickEvent)="contactUser($event)"
        >
        </app-my-ad-reservation-card>
      </div>
    </div>
  </div>

  <div id="background_confirmation_container" *ngIf="displayConfirmationForm && reservationToConfirm">
    <div id="confirmation_container">
      <div id="confirmation_div">
        <div>
          <span>Êtes vous sûr de confirmer la réservation de {{ reservationToConfirm.renterMyAds.lastName }} {{ reservationToConfirm.renterMyAds.firstName }}</span>
          <span> du {{ dateService.dtoObjectToDateFR(reservationToConfirm.arrivalDate) }}
            au {{ dateService.dtoObjectToDateFR(reservationToConfirm.leaveDate) }}</span>
        </div>

        <div *ngIf="nbConflicts(reservationToConfirm) != 0">
          <span>Les réservations suivantes seront refusées :</span>
          <br>
          <span *ngFor="let conflict of getConflictsOfReservation(reservationToConfirm)">
            <span>- {{conflict.renterMyAds.lastName }} {{ conflict.renterMyAds.firstName }}
              du {{ dateService.dtoObjectToDateFR(conflict.arrivalDate) }}
              au {{ dateService.dtoObjectToDateFR(conflict.leaveDate) }}</span>
          </span>
        </div>

        <div class="btn_close_form_container">
          <button class="btn-secondary" id="btn_close_confirmation" (click)="cancelConfirmation()">Annuler</button>
          <button class="btn-primary" id="btn_accept_confirmation" (click)="authorizeReservation()">Confirmer</button>
        </div>
      </div>
    </div>
  </div>


  <div id="background_refusal_container" *ngIf="displayRefusalForm && reservationToDecline">
    <div id="refusal_container">
      <div id="refusal_div">
        <div>
          <span>Êtes vous sûr de <b>refuser</b> la réservation de {{ reservationToDecline.renterMyAds.lastName }} {{ reservationToDecline.renterMyAds.firstName }}</span>
          <span> du {{ dateService.dtoObjectToDateFR(reservationToDecline.arrivalDate) }}
            au {{ dateService.dtoObjectToDateFR(reservationToDecline.leaveDate) }}</span>
        </div>

        <div class="btn_close_form_container">
          <button class="btn-secondary" id="btn_close_refusal" (click)="cancelRefusal()">Annuler</button>
          <button class="btn-primary" id="btn_decline_confirmation" (click)="declineReservation()">Confirmer</button>
        </div>
      </div>
    </div>
  </div>

</section>
