@import '/src/styles/helpers/variable' ;

*{
  font-family: $main-font;
}

.reservation{
  display: flex ;
  align-items: center;
  gap: 10px ;
  margin-bottom: 15px;
  font-size: 15px;

  img{
    width: 100px ;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: $radius;
  }

  h1{
    font-size: 15px;
  }

  .dates{
    font-size: 13px;
  }
}

.emptyList{
  padding-left: 10px;
}

.cancel-btn{
  background-color: $error-background-color;
  color: $error-color;
  padding: 4px ;
  border-radius: $radius;
  font-size: 12px ;
  cursor: pointer ;

  &:hover{
    opacity: .9;
  }
}
