<a [routerLink]="'/conversations'">Messages</a>
<div *ngIf="!pageLoaded" class="loader_container">
  <app-loader></app-loader>
</div>
<main *ngIf="pageLoaded">
  <div class="container wrapper column">
    <div *ngFor="let ad of ads">
      <app-card [ad]="ad" class="homepage"></app-card>
    </div>
  </div>

  <div class="pagination_container">
    <app-pagination
      [maxPages]="maxPages"
      [rulerLength]="rulerLength"
      [(index)]="index"
      (indexChange)="changePage($event)">
    </app-pagination>
  </div>
</main>
