<div *ngIf="!pageLoaded" class="loader_container">
  <app-loader></app-loader>
</div>
<main *ngIf="pageLoaded">
  <div class="filteringForm-container">
    <app-filtering-form (notify)="changeFilter()"></app-filtering-form>
  </div>
  <div *ngIf="ads.length ; else noAds">
    <div class="container wrapper column">
      <div *ngFor="let ad of ads">
        <app-card [ad]="ad" class="homepage"></app-card>
      </div>
    </div>

    <div class="pagination_container">
      <app-pagination
        [maxPages]="maxPages"
        [rulerLength]="rulerLength"
        [(index)]="index"
        (indexChange)="changePage($event)">
      </app-pagination>
    </div>
  </div>
  <ng-template #noAds>
    <div class="container">
      <p>Aucune annonce trouvée</p>
    </div>
  </ng-template>
</main>
