<main class="ad-to-validate-page">
  <section class="ad_list">
    <ul>
      <li *ngFor="let ad of ads" (click)="changeCurrentId(ad)"
          [class.active]="ad.id === currentAd?.id">{{ad.name}}</li>
    </ul>
  </section>

  <section class="ad_preview" *ngIf="currentAd; else noAdSelected">
    <app-ad-item [ad]="currentAd" class="preview"></app-ad-item>
    <section class="buttons_section">
      <button class="btn-valid">Valider</button>
      <button class="btn-reject">Refuser</button>
    </section>
  </section>

  <ng-template #noAdSelected>
    <p>Veuillez sélectionner une annonce</p>
  </ng-template>
</main>

