<main class="ad-to-validate-page">
  <section class="ad_list">
    <ul>
      <li>Chalet au bord du lac</li>
      <li class="active">Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
    </ul>
  </section>

  <section class="ad_preview">
    <app-ad-item class="preview"></app-ad-item>
    <section class="buttons_section">
      <button class="btn-valid">Valider</button>
      <button class="btn-reject">Refuser</button>
    </section>

  </section>
</main>

