<main class="ad-to-validate-page">
  <section class="ad_list">
    <ul>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
      <li>Chalet au bord du lac</li>
    </ul>
  </section>

  <section class="ad_preview">
    <app-ad-item></app-ad-item>
  </section>
</main>

