<main class="account_page">
<!--  <section class="profile_picture_section">
    <div class="profile_picture_container">
      <img src="assets/img/user_pic-50x50.png" alt="photo de profile">
    </div>
  </section>
-->
  <form class="form-group" [formGroup]="form" (ngSubmit)="emitRegistrationForm()">

    <h2>Photo de profile</h2>
    <div class="inline-input space_between_sections">
      <div class="form-group">
        <label for="pp" class="file-input-label">Changer la photo de profil</label>
        <input id="pp" class="file-input-input" hidden type="file" accept="image/*" formControlName="profilePicture" (change)="onUploadPicture($event)">
      </div>
      <div class="form-group">
        <img *ngIf="authService.user == null || authService.user.profilePicturePath == null"
             src="../../../assets/img/user_pic-50x50.png" alt="profil pic" class="userImg">
      </div>
    </div>

    <h2>Informations personnelles</h2>
    <div class="inline-input">
      <!-- LAST NAME -->
      <div class="form-group">
        <label for="lastName" class="label">Nom</label>
        <input type="text" id="lastName" class="input-text" formControlName="lastName"
               [class.invalid]="isInvalid('lastName')">
        <span *ngIf="isInvalid('lastName'); else blank" class="feedback">Veuillez entrer votre nom</span>
        <ng-template #blank>
          <span class="feedback"></span>
        </ng-template>
      </div>

      <!-- FIRST NAME -->
      <div class="form-group">
        <label for="firstName" class="label">Prénom</label>
        <input type="text" id="firstName" class="input-text" formControlName="firstName"
               [class.invalid]="isInvalid('firstName')">
        <span *ngIf="isInvalid('firstName'); else blank" class="feedback">Veuillez entrer votre prénom</span>
        <ng-template #blank>
          <span class="feedback"></span>
        </ng-template>
      </div>
    </div>

    <!-- EMAIL -->
    <div class="form-group">
      <label for="email" class="label">E-mail</label>
      <input type="email" id="email" class="input-text" placeholder="exemple@nom.com" formControlName="email"
             [class.invalid]="isInvalid('email')">
      <span *ngIf="isInvalid('email'); else blank"
            class="feedback">Entrez une adresse valide. Exemple contact@nom.com</span>
      <ng-template #blank>
        <span class="feedback"></span>
      </ng-template>
    </div>

    <h2 style="margin-top: 5px">Nouveau mot de passe</h2>
    <div id="container_password" class="space_between_sections">
      <div class="input_password_dropbox input-text" (click)="toggleDisplayNewPasswordField()">
        <span>Changer de mot de passe</span>
        <svg [ngClass]="{'onClickRotation': showPwFields, 'defaultRotation': !showPwFields}" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M15.125 21.1L6.7 12.7q-.15-.15-.212-.325q-.063-.175-.063-.375t.063-.375q.062-.175.212-.325l8.425-8.425q.35-.35.875-.35t.9.375q.375.375.375.875t-.375.875L9.55 12l7.35 7.35q.35.35.35.862q0 .513-.375.888t-.875.375q-.5 0-.875-.375Z"/></svg>
      </div>
      <div id="container_password_input" [hidden]="!showPwFields">
        <div>
          <!-- PASSWORD -->
          <div class="form-group">
            <label for="password" class="label">Nouveau mot de passe</label>
            <input type="password" id="password" class="input-text" formControlName="password"
                   [class.invalid]="isInvalid('password')">
            <span *ngIf="isInvalid('password'); else blank" class="feedback">Veuillez un mot de passe valide</span>
            <ng-template #blank>
              <span class="feedback"></span>
            </ng-template>
          </div>

          <!-- CONFIRM PASSWORD -->
          <div class="form-group">
            <label for="confirmPassword" class="label">Confirmation du nouveau mot de passe</label>
            <input type="password" id="confirmPassword" class="input-text" formControlName="confirmPassword"
                   [class.invalid]="form.get('confirmPassword')?.touched && isPasswordEquals()">
            <span *ngIf="form.get('confirmPassword')?.touched && isPasswordEquals(); else blank" class="feedback">Les mots de passes ne correspondent pas</span>
            <ng-template #blank>
              <span class="feedback"></span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <input type="submit" [value]="btnSubmitRegistrationText" class="btn-primary"
           [disabled]="form.invalid || disableRegistrationBtn || dataHasBeenChanged()" [class.disabled]="form.invalid">
  </form>
</main>
