@import '/src/styles/helpers/variable' ;
@import '/src/styles/components/form' ;
@import '/src/styles/components/button' ;

*{
  font-family: $main-font;
}

.account_page{
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 40px ;
  background-color: white;
}

.pp_section{
  margin-bottom: 30px ;
}

.profile_picture_section{
  border: 1px solid silver ;
  border-radius: 10px;
  width: 100%;
  height: 90px;
  padding: 20px;
}

.form-group{
  width: 100%;
  max-width: 500px;
}

.btn-primary{
  margin-top: 10px;
}
.inline-input{
  @media (min-width: 600px) {
    display: flex;
    gap: 20px ;
  }
}

.redirection{
  font-family: $main-font;
  font-size: 15px;
  a{
    color: $main-color ;

    &:hover{
      cursor: pointer ;
      text-decoration: underline ;
    }
  }
}

.file-input-input {
  visibility: hidden;
}

.pp_container {
  display: flex;
}

.file-input-label {
  width: 42px;
  height: 42px;
  align-content: center;
  font-family: $main-font;
  border: none;
  background: $main-color;
  border-radius: $radius;
  color: #fff;
  cursor: pointer;
  margin: auto 0 auto;
  display: flex;

  & > svg {
    display: block;
    margin: auto;
    align-content: center;
  }
}

.file-input-label:hover {
  opacity: 0.5;
}

#removePpButton {
  width: 42px;
  height: 42px;
  align-content: center;
  font-family: $main-font;
  border: none;
  background: red;
  border-radius: $radius;
  color: #fff;
  cursor: pointer;
  margin: auto 0 auto 6px;
  display: flex;

  & > svg {
    display: block;
    margin: auto;
    align-content: center;
  }
}

#removePpButton:hover {
  opacity: 0.5;
}

h2 {
  font-size: 1.6em;
}

.userImg {
  height: 75px;

  object-position: 50% 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-left: auto;
}

.space_between_sections {
  margin-bottom: 20px;
}

#container_password {
}

.input_password_dropbox {
  cursor: pointer;
  border-radius: $radius;
  position: relative;
  z-index: 2;
  background-color: white;
  display: flex;

  & > svg {
    display: block;
    margin-left: auto;
    margin-right: 5px;
    transition: all .5s;
  }
}

.defaultRotation {
  transform: rotate(180deg);
}

.onClickRotation {
  transform: rotate(270deg);
}

.hidden_container_password_input{
  height: 0 !important;
}

#container_password_input {
  position: relative;
  z-index: 1;
  border: 1px solid rgba(gray, 0.5);
  margin: -20px auto auto;
  border-radius: $radius;
  width: 95%;
  padding-bottom: 6px;
  height: 90%;
  transition: all .5s;
  overflow: hidden;

  & > div {
    width: 85%;
    margin: 35px auto auto;
  }
}
