@import '/src/styles/helpers/variable' ;
@import '/src/styles/components/form' ;
@import '/src/styles/components/button' ;

.account_page{
  margin: auto;
  gap: 10px ;
  display: flex;
  justify-content: center;
  padding: 40px ;
}

.profile_picture_section{
  border: 1px solid silver ;
  border-radius: 10px;
  width: 100%;
  height: 90px;
  padding: 20px;
}

.form-group{
  width: 100%;
  max-width: 500px;
}

.btn-primary{
  margin-top: 10px;
}
.inline-input{
  @media (min-width: 600px) {
    display: flex;
    gap: 20px ;
  }
}
.redirection{
  font-family: $main-font;
  font-size: 15px;
  a{
    color: $main-color ;

    &:hover{
      cursor: pointer ;
      text-decoration: underline ;
    }
  }
}
