<ul>
  <li class="list-item" *ngFor="let reservation of reservations">
    <div class="profilePicture">
      <img [src]="profilePictureBaseUri +  reservation.renterMyAds.profilePicturePath" alt="photo de profil">
    </div>
    <div class="info">
      <div>
        <span>{{ reservation.renterMyAds.lastName }} {{ reservation.renterMyAds.firstName }}</span>
        <a (click)="contactUser(reservation.renterMyAds.id)">contacter</a>
      </div>
      <div>
        <span>du {{ reservation.arrivalDate | date: 'dd/MM/y à HH:mm'}}
          au {{ reservation.leaveDate | date: 'dd/MM/y à HH:mm'}}
          ({{ dateService.nbDaysBetweenDates(reservation.arrivalDate, reservation.leaveDate) }}
          {{ dateService.nbDaysBetweenDates(reservation.arrivalDate, reservation.leaveDate) > 1 ? " nuits" : " nuit"}}
          )</span>
      </div>
    </div>
  </li>
</ul>
