@import "../../../styles/components/button" ;
@import "../../../styles/helpers/variable" ;

main{
  width: 100vw;
  height: $full-height;
  display: flex;
  gap: 10px ;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: $main-font;
  text-align: center;
  h1{
    font-family: $main-bold-font;
    font-size: 4rem;
  }
}
