<section class="filtering-section">
  <button class="btn-filter" (click)="toggleDisplayFiltre()">
    <span *ngIf="this.displayFiltre">-</span>
    <span *ngIf="!this.displayFiltre">+</span>
    Filtres
  </button>
  <form class="filteringForm" [formGroup]="filteringForm" *ngIf="this.displayFiltre">

    <select class="input-select" formControlName="country" (change)="fetchDistinctsCities($event)">
      <option disabled selected value="">Pays</option>
      <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
    </select>

    <select class="input-select" formControlName="city">
      <option disabled selected value="">Ville</option>
      <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
    </select>

    <input class="input-text" type="number" formControlName="price" placeholder="prix maximum">

    <input class="input-text" type="number" formControlName="nbPersons" placeholder="nombre de personnes">

    <app-date-picker class="date-picker"></app-date-picker>

    <button class="btn-secondary" type="submit" (click)="search()">
      <svg viewBox="0 0 21 21">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              d="M6.5 4a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0V5a1 1 0 0 1 1-1zm12 2h-11m-2 0h-3m4 8a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1zm12 2h-11m-2 0h-3m12-7a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1zm-1 2h-11m16 0h-3"/>
      </svg>
      <span>
      filtrer
    </span>
    </button>
  </form>
</section>
