<section class="filtering-section">
  <button class="btn-filter" (click)="toggleDisplayFilter()">
    <span *ngIf="this.displayFilter">-</span>
    <span *ngIf="!this.displayFilter">+</span>
    Filtres
  </button>
  <form class="filteringForm" [formGroup]="filteringForm" *ngIf="this.displayFilter">

    <select class="input-select" formControlName="country" (change)="fetchDistinctCitiesOnChange($event)">
      <option disabled value="">Pays</option>
      <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
    </select>

    <select class="input-select" formControlName="city">
      <option disabled value="">Ville</option>
      <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
    </select>

    <input class="input-text" type="number" formControlName="pricePerNight" placeholder="prix maximum" min="0">

    <input class="input-text" type="number" formControlName="numberOfPersons" placeholder="nombre de personnes" min="0">

    <app-date-picker class="date-picker" (emitDateChange)="dateChange($event)"></app-date-picker>

    <button type="button" (click)="deleteFilters()" class="btn-secondary">
      <svg  viewBox="0 0 15 15"><path fill="currentColor" fill-rule="evenodd" d="M.877 7.5a6.623 6.623 0 1 1 13.246 0a6.623 6.623 0 0 1-13.246 0ZM7.5 1.827a5.673 5.673 0 1 0 0 11.346a5.673 5.673 0 0 0 0-11.346Zm2.354 3.32a.5.5 0 0 1 0 .707L8.207 7.5l1.647 1.646a.5.5 0 0 1-.708.708L7.5 8.207L5.854 9.854a.5.5 0 0 1-.708-.708L6.793 7.5L5.146 5.854a.5.5 0 0 1 .708-.708L7.5 6.793l1.646-1.647a.5.5 0 0 1 .708 0Z" clip-rule="evenodd"/></svg>
    </button>

    <button class="btn-secondary" type="submit" (click)="search()">
      <svg viewBox="0 0 21 21">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              d="M6.5 4a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0V5a1 1 0 0 1 1-1zm12 2h-11m-2 0h-3m4 8a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1zm12 2h-11m-2 0h-3m12-7a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1zm-1 2h-11m16 0h-3"/>
      </svg>
      <span>
      filtrer
    </span>
    </button>
  </form>
</section>
