@import '../../../styles/helpers/variable' ;

.toast{
  display: flex ;
  justify-content: space-around;
  padding: 0 ;
  margin: 20px ;
  border-radius: 8px;
  font-family: $main-bold-font;
  font-size: 14px ;
  z-index: 100;

  max-width: 250px;
  min-width: 250px;

  & .body{
    padding: 20px ;
    flex: 2 ;
  }

  & .toast-btn-close{
    cursor: pointer;
    background: none ;
    padding: 0 10px ;
  }

  &.slide {
    transition: 0.750s;
    transform: translate(270px);
  }
}

.success{
  background-color: $success-background-color;
  color: $success-color ;
}

.error{
  background-color: $error-background-color ;
  color: $error-color ;
}

.info{
  background-color: $info-background-color ;
  color: $info-color ;
}

