.toast{
  display: flex ;
  margin: 20px ;

  & .body{
    padding: 20px ;
  }

  & .toast-btn-close{
    cursor: pointer;
  }
}

.success{
  background-color: green ;
}

.error{
  background-color: red ;
}

.info{
  background-color: blue ;
}
