@import "/src/styles/helpers/variable.scss" ;

html {
  overflow: hidden;
}

main {
  margin-top: $header-height;
  overflow-y: auto;
  height: calc(100vh - $header-height) ;
}

app-toast-notification{
  position: fixed;
  z-index: 1000;
  top: $header-height ;
  right: 0 ;
}
