<header>
  <nav class="menu">
    <div class="menu-item" routerLinkActive="active" [routerLink]="'utilisateurs'">
      <span class="icon">
        <svg viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87m-3-12a4 4 0 0 1 0 7.75"/></g></svg>
      </span>
      <span class="description">Utilisateurs</span>
    </div>
    <div class="menu-item" routerLinkActive="active" [routerLink]="'annonces'">
      <span class="icon">
        <svg viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="m3 9l9-7l9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><path d="M9 22V12h6v10"/></g></svg>
      </span>
      <span class="description">Annonces</span>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
