<main class="renting_page">
  <header>
    <div class="title_container">
      <p class="title">{{ ad_name }} ⸱ {{ owner_name }}</p>
      <p class="subtitle">
        {{ nb_max_tenant }} {{ str_nb_max_tenant }} ⸱ {{ nb_bedroom }} {{ str_nb_bedroom}} ⸱ {{ nb_bed }} {{ str_nb_bed }}
      </p>
    </div>

    <div class="carousel_container">
      <app-carousel [images]="images" class="renting"></app-carousel>
    </div>
  </header>

  <main class="main">
    <section class="features_container">
      <h2>Disponible dans ce logement :</h2>
      <div class="features_list">
        <span *ngFor="let feature of renting_features.slice(0, 24)">
          &#x2022; {{ feature }}
        </span>
      </div>

      <div class="btn_feature_container" [hidden]="renting_features.length <= 24">
        <button class="btn-primary" id="btn_open_features" (click)="showAllFeatures()">Voir tout</button>
      </div>
    </section>


    <section class="reservation_container">
      <header class="reservation_price_by_night">
        <span class="span_price">{{ daily_price }} €</span>&nbsp;<span class="span_price_str">par nuit</span>
      </header>

      <main class="reservation_date-picker">
        <app-date-picker (dateUpdated)="setDate($event)"></app-date-picker>
      </main>

      <footer class="reservation_total_price" *ngIf="nbDays != 0">
        <span>
          {{ daily_price }} € x {{ nbDays }} {{ nbDays > 1 ? "nuits" : "nuit" }} =
          <b>{{ (nbDays * daily_price) | round }} €</b>
        </span>
      </footer>

      <button class="btn-primary" (click)="submit()" [disabled]="nbDays == 0">
        Réserver
      </button>
    </section>
  </main>

  <div id="background_allFeatures_container" *ngIf="displayAllFeatures">
    <div id="allFeatures_container">
      <div id="allFeatures_div">
        <div class="features_list">
        <span *ngFor="let feature of renting_features">
          &#x2022; {{ feature }}
        </span>
        </div>

        <div class="btn_close_features_container">
          <button class="btn-primary" id="btn_close_features" (click)="closeAllFeatures()">Fermer</button>
        </div>
      </div>
    </div>
  </div>

</main>
