<div *ngIf="!pageLoaded" class="loader_container">
  <app-loader></app-loader>
</div>

<main class="renting_page" *ngIf="ad && pageLoaded">
  <header>
    <div class="title_container">
      <h1 class="title">{{ ad.name }}</h1>
      <p class="subtitle">
        {{ad.numberOfPersons}} {{ad.numberOfPersons > 1 ? "personnes" : "personne"}}
        ⸱ {{ad.numberOfBedrooms}} {{ad.numberOfBedrooms > 1 ? "chambres" : "chambre"}}
      </p>

      <p class="subtitle">
        {{ad.street}}, {{ad.postalCode}} {{ad.city}}, {{ad.country}}
      </p>
    </div>

    <div class="carousel_container">
      <app-carousel [images]="images" class="renting"></app-carousel>
    </div>
  </header>

  <main class="main">
    <section class="main_body">

      <section class="host_container">
        <div class="host_info">
          <h3>Accueilli par</h3>
          <div>
            <p>{{ad.owner.firstName}} {{ad.owner.lastName}}</p>
          </div>
          <div>
            <button class="btn-secondary" id="btn_contact_host" (click)="contactHost()">
              Contacter
            </button>
          </div>
        </div>
        <div class="host_pp">
          <img [src]="pictureBaseUri + ad.owner.profilePicturePath" alt="photo de l'hôte">
        </div>
      </section>

      <section class="features_container">
        <h3>Disponible dans le logement</h3>
        <div class="features_list">
          <span *ngFor="let feature of ad.features.slice(0, 4)">
            &#x2022; {{feature}}
          </span>
        </div>

        <div class="btn_feature_container" [hidden]="ad.features.length <= 4">
          <button class="btn-secondary" id="btn_open_features" (click)="showListFeatures()">Voir tout</button>
        </div>
      </section>

      <section class="description_container">
        <h3>Description</h3>
        <div>
          <p>
            {{ad.description}}
          </p>
        </div>
      </section>

      <section class="toKnow_container">
        <h3>À savoir</h3>
        <div>
          <p>
            Arrivée entre {{ad.arrivalTimeRangeStart}} et {{ad.arrivalTimeRangeEnd}}
          </p>
          <p>
            Départ avant {{ad.leaveTime}}
          </p>
        </div>
      </section>

    </section>

    <section class="reservation_container">
      <header class="reservation_price_by_night">
        <span class="span_price">{{ad.pricePerNight}} €</span>&nbsp;<span class="span_price_str">par nuit</span>
      </header>

      <main class="reservation_date-picker">
        <app-date-picker
          (emitDateChange)="dateChange($event)"
          [unavailableDates]="reservedDates"
        ></app-date-picker>
      </main>

      <footer class="reservation_summary" *ngIf="nbNights != 0">
        <div>
          <div>
            Prix par nuit
          </div>
          <div>
            {{ad.pricePerNight}} €
          </div>
        </div>
        <div>
          <div>
            Nombre de nuits
          </div>
          <div>
            {{nbNights}} {{ nbNights > 1 ? "nuits" : "nuit" }}
          </div>
        </div>
        <div class="result">
          <div>
            <b>Total</b>
          </div>
          <div>
            {{ (nbNights * ad.pricePerNight) | round }} €
          </div>
        </div>
      </footer>
      <button class="btn-primary" (click)="submit()" [disabled]="nbNights == 0 || disableReservationBtn">
        Réserver
      </button>
    </section>
  </main>

  <div id="background_allFeatures_container" *ngIf="displayAllFeatures">
    <div id="allFeatures_container">
      <div id="allFeatures_div">
        <div class="features_list">
          <span *ngFor="let feature of ad.features">
            &#x2022; {{ feature }}
          </span>
        </div>

        <div class="btn_close_features_container">
          <button class="btn-primary" id="btn_close_features" (click)="closeListFeatures()">Fermer</button>
        </div>
      </div>
    </div>
  </div>

</main>
