@import '../../../styles/components/button' ;
.renting_page {
  width: 60% ;
  margin: auto;
}

.title_container {
  width: 100%;
  padding-top: 15px ;

  & .title {
    font-size: 26px;
    font-family: Georgia, serif;
    margin-bottom: 3px;
  }

  & .subtitle {
    font-size: 20px;
    color: gray;
  }
}

.carousel_container {
  width: 100%;
  margin: 30px 0 ;
}

.main{
  display: flex;
  justify-content: space-between;
}

.reservation_price_by_night {
  margin-top: 5px;
  margin-bottom: -5px;
}

.reservation_total_price {
  font-family: Calibri, serif;
  margin-bottom: 20px;
}

.reservation_date-picker {
  margin-top: 20px;
  margin-bottom: 18px;
}

.features_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;

  & > span{
    width: 50%;
    padding: 5px;
  }
}

.btn_feature_container {
  margin-top: 5px;
  display: flex;
  align-content: center;
}

.reservation {
  border-radius: 15px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 12%);
  padding: 12px 12px;
  text-align: center;
}

.span_price {
  font-size: 20px;
  font-weight: bold;
  font-family: Calibri, serif;
}

.span_price_str {
  font-size: 19px;
  color: #9b9b9b;
  padding-top: 1px;
  font-family: Calibri, serif;
}

@media (max-width: 1200px) {
  .renting_page{
    width: 75%;
  }

  .main{
    flex-direction: column;
    gap: 30px ;
  }
}

@media (max-width: 800px) {
  .renting_page{
    width: 95%;
  }
}
