<div *ngIf="!pageLoaded" class="loader_container">
  <app-loader></app-loader>
</div>

<main class="renting_page" *ngIf="pageLoaded">
  <header>
    <div class="title_container">
      <p class="title">{{ ad.name }}</p>
      <p class="subtitle">
        {{ad.numberOfPersons}} {{ad.numberOfPersons > 1 ? "personnes" : "personne"}}
        ⸱ {{ad.numberOfBedrooms}} {{ad.numberOfBedrooms > 1 ? "chambres" : "chambre"}}
      </p>

      <p class="subtitle">
        Rue factice 265, 7000 Mons, Belgique
      </p>
    </div>

    <div class="carousel_container">
      <app-carousel [images]="images" class="renting"></app-carousel>
    </div>
  </header>

  <main class="main">
    <section class="main_body">

      <section id="host_container">
        <h2>Hôte</h2>
        <div id="host_profile">
          <div id="host_profile_name"><span>{{ad.owner.firstName}} {{ad.owner.lastName}}</span></div>
          <div id="host_profile_pp">
            <span>

              <!-- retiré juste pour afficher la pdp à remettre si nécessaire-->
              <!-- *ngIf="authService.user == null || authService.user.profilePicturePath == null" -->
              <img
                [src]="pictureBaseUri + ad.owner.profilePicturePath" alt="profil pic">

            </span>
          </div>
        </div>
        <div id="host_div_btn">
          <button class="btn-primary" id="btn_contact_host" (click)="contactHost()">
            Contacter {{ad.owner.firstName}}</button>
        </div>
      </section>

      <section class="features_container">
        <h2>Disponible dans le logement</h2>
        <div class="features_list">
          <span *ngFor="let feature of ad.features.slice(0, 4)">
            &#x2022; {{feature}}
          </span>
        </div>

        <div class="btn_feature_container" [hidden]="ad.features.length <= 4">
          <button class="btn-primary" id="btn_open_features" (click)="showListFeatures()">Voir tout</button>
        </div>
      </section>

      <section>


      </section>

      <section>
        <h2>Description</h2>
        <p style="width: 100%">
          {{ad.description}}
        </p>

      </section>

    </section>


    <section class="reservation_container">

      <span>
        Heure d'arrivée entre {{ad.arrivalTimeRangeStart}} et {{ad.arrivalTimeRangeEnd}}
      </span>
      <br>
      <span>
        Heure départ à {{ad.leaveTime}}
      </span>

      <header class="reservation_price_by_night">
        <span class="span_price">{{ad.pricePerNight}} €</span>&nbsp;<span class="span_price_str">par nuit</span>
      </header>

      <main class="reservation_date-picker">
        <app-date-picker (emitDateChange)="dateChange($event)"></app-date-picker>
      </main>

      <footer class="reservation_total_price" *ngIf="nbDays != 0">
        <span>
          {{ad.pricePerNight}} € x {{ nbDays }} {{ nbDays > 1 ? "nuits" : "nuit" }} =
          <b>{{ (nbDays * ad.pricePerNight) | round }} €</b>
        </span>
      </footer>

      <button class="btn-primary" (click)="submit()" [disabled]="nbDays == 0">
        Réserver
      </button>
    </section>
  </main>

  <div id="background_allFeatures_container" *ngIf="displayAllFeatures">
    <div id="allFeatures_container">
      <div id="allFeatures_div">
        <div class="features_list">
          <span *ngFor="let feature of ad.features">
            &#x2022; {{ feature }}
          </span>
        </div>

        <div class="btn_close_features_container">
          <button class="btn-primary" id="btn_close_features" (click)="closeListFeatures()">Fermer</button>
        </div>
      </div>
    </div>
  </div>

</main>
