.container {
  padding: 30px 4% 0 4%;
}

.wrapper {
  width: 100%;
  padding-bottom: 20px;
}

#container_body > div {
  display: inline-block;
  padding-bottom: 10px;
}
#container_body:not(:first-child) {
  padding: 10px 0 10px 0;
}

#container_title {
  width: 100%;
}

#container_carrousel {
  width: 70%;
  height: 50px;
  background: red;
}

#container_reservation {
  width: 30%;
  height: 50px;
  background: #1d1d31;
}
