@import "/src/styles/helpers/variable";
@import "/src/styles/components/button";

.modal-container {
  position: fixed;
  width: 100vw;
  height: calc(100vh - $header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: $modal-background-color;
}

.modal {
  font-family: $main-font;
  background-color: #FFF;
  min-width: 300px;
  border-radius: $radius;
}

.modal-header, .modal-body {
  border-bottom: 1px solid $grey;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  font-size: 10px;
  padding: 10px;
}

.modal-body{
  padding: 15px;
  font-size: 13px;
}

.modal-footer {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-primary, .btn-secondary{
  padding: 7px 14px;
}

.btn-close {
  background: none;
  cursor: pointer;
}
