<main class="reservations_page">

  <section class="reservations_container" *ngIf="reservationsList.length !== 0; else noReservation">

    <ul class="reservations_list">
      <li *ngFor="let reservation of reservationsList" class="reservation">
        <div>
          <!--<img [src]="reservation.reservationPicture">-->
        </div>
        <div>
          <h1>{{reservation.ad.name}}</h1>
          <p>{{reservation.ad.name}}</p>
          <p>{{reservation}}</p>
          <p class="dates">{{reservation.arrivalDate}} - {{reservation.leaveDate}}</p>
        </div>
      </li>
    </ul>

  </section>

  <ng-template #noReservation>
    <section class="no_reservation">
      <h1>Vous n'avez pas de réservation</h1>
    </section>
  </ng-template>

</main>
