<app-modal-confirmation
  [modalParams]="deleteModalOptions"
  (isAccepted)="onModalDeleteAction($event)"
></app-modal-confirmation>

<div *ngIf="!pageLoaded" class="loader_container">
  <app-loader></app-loader>
</div>

<main class="reservations_page" *ngIf="pageLoaded">

  <section class="reservations_container" *ngIf="reservationsList.length !== 0; else noReservation">

    <app-reservation-list
      [title]="'Acceptée'"
      [reservationsList]="getAcceptedReservations()"
      [emptyListPhrase]="'Vous n\'avez aucune réservation acceptée'"
    ></app-reservation-list>

    <app-reservation-list
      [title]="'En attente'"
      [reservationsList]="getPendingReservations()"
      [emptyListPhrase]="'Vous n\'avez aucune réservation en attente'"
      [canCancel]="true"
      (onCancelClick)="cancelReservationClick($event)"
    ></app-reservation-list>

    <app-reservation-list
      [title]="'Refusée'"
      [reservationsList]="getRejectedReservation()"
      [emptyListPhrase]="'Vous n\'avez aucune réservation refusée'"
    ></app-reservation-list>

  </section>

  <ng-template #noReservation>
    <section class="no_reservation">
      <h1>Vous n'avez pas de réservation</h1>
    </section>
  </ng-template>

</main>
