<app-modal-confirmation
  [modalParams]="deleteModalOptions"
  (isAccepted)="onModalDeleteAction($event)"
></app-modal-confirmation>

<main class="ad-rentings-page" *ngIf="ads.length > 0 ; else noAdsToValidate">
  <section class="ad_list">
    <ul>
      <li *ngFor="let ad of ads" (click)="changeCurrentId(ad)"
          [class.active]="currentAd && ad.adSlug === currentAd.adSlug">
        <div>
          {{ad.name}}
        </div>
        <div
          [class.status_accepted]="ad.status.id === 3"
          [class.status_rejected]="ad.status.id === 2 || ad.status.id === 4 || ad.status.id === 5"
          [class.status_pending]="ad.status.id === 1"
        >
          {{ad.status.statusName}}
        </div>
      </li>
    </ul>
    <div class="pagination_container">
      <app-pagination
        [maxPages]="maxPages"
        [rulerLength]="rulerLength"
        [(index)]="index"
        (indexChange)="changePage($event)">
      </app-pagination>
    </div>
  </section>

  <section class="ad_preview" *ngIf="currentAd; else noAdSelected">
    <app-ad-item [ad]="currentAd" class="preview"></app-ad-item>
    <section class="buttons_section">
      <button class="btn-valid" *ngIf="currentAd.status.statusName === 'bloquée'" (click)="onUnblockButtonClick()">
        Débloquer
      </button>

      <button class="btn-delete" *ngIf="currentAd.status.statusName !== 'bloquée'" (click)="onBlockButtonClick()">
        Bloquer
      </button>

      <button class="btn-delete" (click)="onDeleteButtonClick()">
        Supprimer
      </button>
    </section>
  </section>

  <ng-template #noAdSelected>
    <p>Veuillez sélectionner une annonce</p>
  </ng-template>
</main>

<ng-template #noAdsToValidate>
  <main class="ad-rentings-page">
    <p>Aucune annonce</p>
  </main>
</ng-template>
